*                             text=auto
/.pnp.js                      binary linguist-generated
/.yarn/releases/*             binary linguist-generated
/.yarn/cache/*                linguist-vendored
/.yarn/unplugged/*            linguist-vendored
/.vscode/*.json               linguist-language=JSON5
/.vscode/pnpify/typescript/** binary linguist-generated
/.tsconfig.json               linguist-language=JSON5
